/*
---
name: Buttons
category:
  - component
---

Button styles.

```html
<a class="c-button">Button</a>
```
*/

$btn-primary-color: #252525;

.c-button {
  display: inline-block;
  padding: 6px 10px;
  border: 1px solid $btn-primary-color;
  border-radius: 5px;
  text-decoration: none;
  line-height: 1;
  color: $btn-primary-color;
  transition: 0.2s $ease-out-quart 0s;

  &:hover {
    background-color: $btn-primary-color;
    color: #ffffff;
  }
}
